<h1>ADD STORY</h1>
<div class="row">
  <form action="/api/story/add" class="col-s12" method="post">
    <div class="row">
      <div class="input-field">
        <input type="text" name="title">
        <label for="title">Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <select name="status">
          <option value="public">Public</option>
          <option value="private">Private</option>
          <option value="unpublished">Un-Published</option>
        </select>
        <label for="status">Status</label>
      </div>
    </div>
    <div class="row">
      <p>
        <input type="checkbox" name="allowComments" id="allowComments" class="filled-in" checked="checked">
        <label for="allowComments">Allow Comments</label>
      </p>
    </div>
    <div class="row">
      <div class="input-field">
        <h5>Tell us your story</h5>
        <textarea name="body" cols="30" rows="10"></textarea>
      </div>
    </div>
    <input type="submit" value="save" class="btn">
  </form>
</div>